[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-baseclasses"]
	path = packages/nomad-baseclasses
	url = https://github.com/nomad-hzb/nomad-baseclasses.git
[submodule "packages/nomad-perotf"]
	path = packages/nomad-perotf
	url = https://github.com/nomad-hzb/nomad-perotf.git
